.game-container {
  width: 500px;
  height: 730px;
}

.sky {
  position: relative;

  width: 500px;
  height: 580px;
  background-color: blue;
}

.ground {
  width: 500px;
  height: 150px;
  background-color: brown;
}

.bird {
  position: absolute;
  bottom: 100px;
  left: 220px;

  width: 60px;
  height: 45px;
  background-color: yellow;
}

.obstacle {
  position: absolute;
  bottom: 0;
  left: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 60px;
  height: 580px;
}

.top-pipe,
.bottom-pipe {
  background-image: url("flappybird-pipe.png");
}

.top-pipe {
  transform: rotate(180deg);
}
